*.mp3 linguist-detectable=false
*.wav linguist-detectable=false
*.png linguist-detectable=true
*.jpg linguist-detectable=false
*.mp4 linguist-detectable=false
*.dll linguist-detectable=false
*.pyd linguist-detectable=true
